/*
Free Html5 Responsive Templates
Author: Kimmy
Author URI: https://www.zerotheme.com/
Facebook : http://www.facebook.com/responsivehtml5css3themes
Twitter : http://twitter.com/r53themes
*/
/* -------------------------------------------- */
/* ------------------Reset--------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}

/* -------------------------------------------- */
/* ------------------Font---------------------- */

/*Add your font at here*/

/* -------------------------------------------- */
/* ------------------Style--------------------- */
html, body {width:100%; padding:0; margin:0;}
body {background: #999999 url("../images/pattern29.png");color: #ffffff;font: 14px/25px Arial, Helvetica, sans-serif;}

a{color: #ffffff;text-decoration: none;}
a:hover {color: #ED145B;; text-decoration: none;}

a.button{cursor: pointer;color: #ffffff;line-height: 14px;font-family: Arial, Helvetica, sans-serif;font-size: 14px;font-weight: bold;	background: #3F3F3F;border:1px solid #ffffff; -webkit-border-radius: 4px;-moz-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;}
a.button {	display: inline-block;	text-decoration: none;	padding: 6px 12px 6px 12px;}
a.button:hover{}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* -------------------------------------------- */
/* ------------------Header-------------------- */
header {margin-bottom: 15px; margin-top: 50px;}
header .wrap-header{height: 150px; background:#141414;}

header #logo { width:100%; position: absolute; top:40px; left: 20px;}

header #search {position: absolute;top: 60px; right:20px; width: 218px;z-index: 15;}
header .button-search {	position: absolute;	right: 0px;	background: url('../images/button-search.png') center center no-repeat;	width: 28px; height: 35px;cursor: pointer;}
header #search input{background: #FFF;	padding: 1px 33px 1px 5px;	width: 182px;	height: 32px;	border: 1px solid #CCCCCC;	-webkit-border-radius: 3px;	-moz-border-radius: 3px; -khtml-border-radius: 3px;	border-radius: 3px;}

/* -------------------------------------------- */
/* ------------------Navigation---------------- */
nav {margin:15px 0px;}
nav .wrap-nav{height: 80px; background: #ED145B;}
#login{
	padding-right:500px;}
.menu ul {list-style: none;margin: 0;padding: 0;}
.menu  ul li {position: relative;float: left;padding: 6px 5px 0px 5px; margin: 17px; }
.menu  ul li:hover {background: #F36A97;}
.menu  ul li a {font-size: 16px; line-height:20px;color:#0F0;display: block;padding: 6px 10px;margin-bottom: 5px;z-index: 6;position: relative; text-transform:uppercase; }
.menu  ul li:hover a {}
.menu .current{background: #F36A97;}

.minimenu{display:none;}
.minimenu{position: relative;margin: 0px;background:#ED145B; border: 1px solid #CCC;}
.minimenu div{overflow: hidden;position: relative;font: 18px/40px 'PT Sans Narrow';color: #ffffff;text-align:center;text-transform:uppercase;font-weight:bold;}
.minimenu select{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%; opacity: 0;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);	cursor: pointer;}

/* -------------------------------------------- */
/* ------------------Featured---------------- */

.featured{margin:15px 0px;}
.featured .wrap-featured{background:#141414;}
.featured .wrap-featured .slider{padding: 20px;}

/* -------------------------------------------- */
/* ------------------Content------------------- */
#content {margin:15px 0px;}
#content .wrap-content{background: #141414;}

.block01 {padding: 10px;}
.block01 .box{background: #ED145B; padding: 20px 10px;}
.block01 h2{font-size:23px; line-height:30px; font-weight:normal;}
.block01 p{font-size:16px;}
.block01 .more{text-align: right;}


.block02 { margin:10px; color: #959595;}
.block02 article{ clear: both; margin:10px 0px;background: #040404;}
.block02 article h2{font-size:20px; line-height:25px; font-weight:normal;}
.block02 article .info{font-style:italic; background: #131313; padding: 5px 10px;}
.block02 article img{margin:5px;}
.block02 .box{margin-bottom:20px;}
.block02 .heading{padding:5px 0px; border-bottom:3px solid #ED145B;}
.block02 .heading h2{font-size:24px; font-weight:normal; display:inline; color: #ffffff;}
.block02 .content{ margin: 15px 0px ;padding:15px; background: #040404;}
.block02 .content .list{background: #1E1E1E; padding: 10px;}
.block02 .content ul{ font-size:14px; list-style-type:circle; margin-left:20px;}
.block02 .content ul li{padding:5px;}

.block03 { margin:10px; color: #959595;}
.block03 article{ clear: both; margin:20px 0px;background: #040404; padding: 20px;}
.block03 article h2{font-size:25px; line-height:30px; font-weight:normal;}
.block03 article .info{font-style:italic; padding: 10px 0px;}
.block03 article img{ margin-bottom:10px; width: 100%;}
.block03 .box{margin-bottom:20px;}
.block03 .heading{padding:5px 0px; border-bottom:3px solid #ED145B;}
.block03 .heading h2{font-size:24px; font-weight:normal; display:inline; color: #ffffff;}
.block03 .content{ margin: 15px 0px ;padding:15px; background: #040404;}
.block03 .content .list{background: #1E1E1E; padding: 10px;}
.block03 .content ul{ font-size:14px; list-style-type:circle; margin-left:20px;}
.block03 .content ul li{padding:5px;}

/* -------------------------------------------- */
/* ------------------Footer-------------------- */
footer {margin-top: 15px;}
.wrap-footer{background: #141414; border-top:5px solid #ED145B;}

.block09 {padding: 10px;}
.block09 .box{margin-bottom:20px; color: #959595;}
.block09 .heading{padding:5px 0px;}
.block09 .heading h2{font-size:18px; font-weight:normal; display:inline; color: #ffffff; text-transform: uppercase;}
.block09 .content{ margin: 15px 0px ;}
.block09 .content ul{ font-size:14px;}
.block09 .content ul li{padding:5px 0; border-bottom: 1px dotted #333333;}
.block09 .content .tag a{padding: 10px; background: #ED145B; margin: 0px 5px 5px 0px; float: left;}
.block09 .content .tag a:hover{color: #ffffff; background: #F36A97;}
.block09 .content p{margin-bottom:10px; }

.copyright{text-align:center; background:#040404; padding:10px 0px;}
.copyright a{text-decoration:underline;}


/* -------------------------------------------- */
/* ------------------Components-------------------- */
.photos{}
.photos:after{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.photos a{display: block; float:left; margin: 0px 4px 10px 4px;position: relative;}
.photos a img{display:block; border:1px solid #CCC;}

#pagi{margin: 50px auto; padding: 20px 0px;list-style: none;width: 250px;}
#pagi li {float: left;margin-right: 10px;}
#pagi li a {display: block;	text-decoration: none; color: #717171;font: bold 16px Arial, sans-serif;padding: 7px; background: #ffffff;}
#pagi li a.current, #pagi li a:hover {color: #ffffff;	background: #ED145B;}

.comment{font-weight:bold; margin:50px 0px; width: auto;}
.comment div{margin-bottom: 20px; vertical-align:middle; }
.comment input{border: 2px solid #999999;padding: 8px 10px;width:250px;}
.comment textarea{border: 2px solid #999999;padding: 8px 10px;width:95%;}
.comment input[type="submit"] {cursor: pointer; width:100px; float:right;
	background: -webkit-linear-gradient(top, #efefef, #ddd);background: -moz-linear-gradient(top, #efefef, #ddd);
	background: -ms-linear-gradient(top, #efefef, #ddd);background: -o-linear-gradient(top, #efefef, #ddd);
	background: linear-gradient(top, #efefef, #ddd);
	color: #333;text-shadow: 0px 1px 1px rgba(255,255,255,1);	border: 2px solid #999999;}
.comment input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #eee, #ccc);	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);	border: 2px solid #bbb;}
.comment input[type="submit"]:active {
	background: -webkit-linear-gradient(top, #ddd, #aaa);	background: -moz-linear-gradient(top, #ddd, #aaa);
	background: -ms-linear-gradient(top, #ddd, #aaa);	background: -o-linear-gradient(top, #ddd, #aaa);
	background: linear-gradient(top, #ddd, #aaa);	border: 2px solid #999;}
html, body{
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif; font-size:14px; color: #333; letter-spacing: 0.5px;
}
body{ background: url("picture/bg-body.jpg") fixed no-repeat; background-size: cover; }
a{ text-decoration: none; }
a:hover,a:focus,a:visited{ text-decoration: none; }
p{ margin: 0px; }

/* navbar */

.navbar{
	position: fixed; z-index: 1001;
	top: 0px; left: 0px;
	margin: 0px;
	width: 100%; height: 60px; min-height: 60px;
	background: rgba(10, 130, 157, 0.5); background-size: cover; background-repeat: none; border-radius: 0px;
	border: none;
}

.navbar .container{ height: 100%; }

.navbar-header{
	float: left;
	height: 100%;
	margin: 0px; padding: 0px;
}

.navbar-brand{
	height: 100%;
	margin: 0px; margin-top: 18px; padding: 0px; padding-left: 10px;
	font-family: 'Oregano', cursive; font-size: 28px; font-weight: 600; color: #fff; white-space: nowrap;
}

.navbar-brand:hover{ color: #fff; }

#username{
	float: right;
	margin-right: 12px; margin-top: 20px;
	font-size: 16px; font-weight: 300; color: #fff;
	cursor: default;
}

#goto-login {
	float: right;
	margin: 0px; margin-top: 10px; padding: 5px;
	background-color: #FFF; border-radius: 5px;
	overflow: hidden;
}

#goto-login img {
	height: 30px;
	margin: 0px; margin-right: 2.5px;
}

/* mainbar */

.mainbar{
	position: fixed;
	top: 60px; left: 0px;
	margin: 0px; padding: 0px;
	width: 100%; height: auto;
	text-align: center;
}

.mainbar-list{ padding: 10px; padding-bottom: 20px; }

.mainbar-list li{
	height: 100%; min-width: 100px;
	margin: 0px 5px;
	display: inline-block;
}

.mainbar-list li a{
	display: block;
	font-family: 'Open Sans', Verdana, Helvetica, sans-serif; font-weight: 600;
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
}

.mainbar-list li:not(.active) a{ color: #f1f1f1; }

.mainbar-list li:hover a{
	background-color: #f1f1f1; border-radius: 10px;
	color: #0a829d;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.mainbar-list li.active a{
	background-color: #f1f1f1; border-radius: 10px;
	color: #0a829d;
}

.mainbar-list li.active a:after{
	position: absolute;
    top: 100%; left: 50%;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-top-color: #f1f1f1;
	content: '';
    display: inline-block;
}

.mainbar-list a i{
	display: block;
	margin-bottom: 5px;
	font-size: 32px;
}

.highlight{
	-webkit-animation: colorchange 10s infinite alternate;
}
    @-webkit-keyframes colorchange {
    	0%{ color: rgb(0, 0, 255);}
		3.33% { color: rgb(25, 0, 255); }
		6.66% { color: rgb(50, 0, 255); }
		9.99% { color: rgb(75, 0, 255); }
		13.33% { color: rgb(100, 0, 255); }
		16.66% { color: rgb(125, 0, 255); }
		19.99% { color: rgb(150, 0, 255); }
		23.33% { color: rgb(175, 0, 255); }
		26.66% { color: rgb(200, 0, 255); }
		29.99% { color: rgb(225, 0, 255); }
		33.33% { color: rgb(255, 0, 255); }
		36.66% { color: rgb(255, 25, 0); }
		39.99% { color: rgb(255, 50, 0); }
		43.33% { color: rgb(255, 75, 0); }
		46.66% { color: rgb(255, 100, 0); }
		49.99% { color: rgb(255, 125, 0); }
		53.33% { color: rgb(255, 150, 0); }
		56.66% { color: rgb(255, 175, 0); }
		59.99% { color: rgb(255, 200, 0); }
		63.33% { color: rgb(255, 225, 0); }
		66.66% { color: rgb(255, 255, 0); }
		69.99% { color: rgb(0, 255, 25); }
		73.33% { color: rgb(0, 255, 50); }
		76.66% { color: rgb(0, 255, 75); }
		79.99% { color: rgb(0, 255, 100); }
		83.33% { color: rgb(0, 255, 125); }
		86.66% { color: rgb(0, 255, 150); }
		89.99% { color: rgb(0, 255, 175); }
		93.33% { color: rgb(0, 255, 200); }
		96.66% { color: rgb(0, 255, 225); }
		100% { color: rgb(0, 255, 255); }
	}

/* mycontent */

.mycontent{
	position: fixed; z-index: 1001;
	top: 170px; left: 50%;
	transform: translateX(-50%) !important;
	width: 800px; height: 500px;
	background-color: rgba(255, 255, 255, 0.8); border-radius: 10px;
	overflow: hidden;
}

.songstable{
	width: 100%; 
}

.songstable thead {
	width: 100%;
}

.songstable tbody {
	width: 100%; height: 500px;
	overflow-y: scroll;
}

.songstable thead tr{
	width: 99%;
}

 .songstable tr{
 	width: 100%;
 }

.songstable thead, .songstable tbody, .songstable tr, .songstable td, .songstable th{
	display: inline-block;
}

.songstable thead{
	background: #d91f2d;
	color: #fff;
}

.songstable tbody td, .songstable thead > tr> th{
	float: left;
	border-bottom-width: 0;
}

.songstable>tbody>tr>td, .songstable>tbody>tr>th, .songstable>tfoot>tr>td, .songstable>tfoot>tr>th, .songstable>thead>tr>td, .songstable>thead>tr>th{
	padding: 8px;
	height: 50px;
	text-align: center;
	line-height: 32px;
}

.odd {
	background: #fff;
	color: #000;
}

.even {
	background: #efefef;
	color: #000;
}

.songstable_scrollbar::-webkit-scrollbar-track{
	background-color: #444;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
}

.songstable_scrollbar::-webkit-scrollbar{
	width: 1%; min-width: 5px;
	background-color: #F5F5F5;
}

.songstable_scrollbar::-webkit-scrollbar-thumb{
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
	border-radius: 10px;
}

.getsignature, .uploadnewsong{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	padding: 30px 15px 30px 15px;
	background: #fff; border-radius: 5px;
}

.getsignature *, .uploadnewsong *{ margin:2.5px; }

.getsignature label, .getsignature button,
.uploadnewsong label, .uploadnewsong button{ padding:5px 10px; }

.getsignature button, .uploadnewsong button{ float:right; }

#upfile-file-name, #upfile-file-name-1{
	border:2px dotted #ccc;
	font-weight: 300;
}

.reponse-success{
	width: 100%;
	margin-top: 15px;
	font-size: 24px; color: #FF0066; text-align: center;
	font-weight:bold;
}

.reponse-failure{
	width: 100%;
	margin-top: 15px;
	font-size: 24px; color: #0F0; text-align: center;
	font-weight:bold;
}

#upfile-song{
	width: 500px;
	margin-bottom: 15px;
	border: none; border-bottom: solid 1px #ccc;
	font-size: 16px;
}

#upfile-singer{
	width: 500px;
	margin-bottom: 15px;
	border: none; border-bottom: solid 1px #ccc;
	font-size: 16px;
}

/* music player bar */

.sm2-bar-ui {
	z-index: 1002 !important;
 	font-size: 18px;
}

.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
 	background-color: rgba(10, 130, 157, 0.5);
}

.sm2-bar-ui .sm2-inline-texture {
 	background: transparent;
}

/* social bar */

.social-bar {
	position: fixed; z-index: 1002;
	left: 5px; top: 40%;
	transform: translateY(-50%);
}

.social-bar a, .social-bar span{
	position: relative;
	width: 48px; height: 48px; 
	margin-top: 5px; margin-bottom: 5px; padding: 0px;
	outline: none;
	border: none; border-radius: 5px;
	font-size: 24px; color: #fff;
	display: block;
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
}

.social-bar a .fa, .social-bar span .fa{
	position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) !important;
}

.social-bar a:hover, .social-bar a:focus, .social-bar a:active, .social-bar span:hover, .social-bar span:focus, .social-bar span:active{
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.social-bar a:active, .social-bar span:active{
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	-o-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.social-bar-facebook{ background: #3e5b98; }
html, body{
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif; font-size:14px; color: #333; letter-spacing: 0.5px;
}
body{ background: url("picture/bg-body.jpg") fixed no-repeat; background-size: cover; }
a{ text-decoration: none; }
a:hover,a:focus,a:visited{ text-decoration: none; }
p{ margin: 0px; }

/* navbar */

.navbar{
	position: fixed; z-index: 1001;
	top: 0px; left: 0px;
	margin: 0px;
	width: 100%; height: 60px; min-height: 60px;
	background: rgba(10, 130, 157, 0.5); background-size: cover; background-repeat: none; border-radius: 0px;
	border: none;
}

.navbar .container{ height: 100%; }

.navbar-header{
	float: left;
	height: 100%;
	margin: 0px; padding: 0px;
}

.navbar-brand{
	height: 100%;
	margin: 0px; margin-top: 18px; padding: 0px; padding-left: 10px;
	font-family: 'Oregano', cursive; font-size: 28px; font-weight: 600; color: #fff; white-space: nowrap;
}

.navbar-brand:hover{ color: #fff; }

#username{
	float: right;
	margin-right: 12px; margin-top: 20px;
	font-size: 16px; font-weight: 300; color: #fff;
	cursor: default;
}

#goto-login {
	float: right;
	margin: 0px; margin-top: 10px; padding: 5px;
	background-color: #FFF; border-radius: 5px;
	overflow: hidden;
}

#goto-login img {
	height: 30px;
	margin: 0px; margin-right: 2.5px;
}

/* mainbar */

.mainbar{
	position: fixed;
	top: 60px; left: 0px;
	margin: 0px; padding: 0px;
	width: 100%; height: auto;
	text-align: center;
}

.mainbar-list{ padding: 10px; padding-bottom: 20px; }

.mainbar-list li{
	height: 100%; min-width: 100px;
	margin: 0px 5px;
	display: inline-block;
}

.mainbar-list li a{
	display: block;
	font-family: 'Open Sans', Verdana, Helvetica, sans-serif; font-weight: 600;
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
}

.mainbar-list li:not(.active) a{ color: #f1f1f1; }

.mainbar-list li:hover a{
	background-color: #f1f1f1; border-radius: 10px;
	color: #0a829d;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.mainbar-list li.active a{
	background-color: #f1f1f1; border-radius: 10px;
	color: #0a829d;
}

.mainbar-list li.active a:after{
	position: absolute;
    top: 100%; left: 50%;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-top-color: #f1f1f1;
	content: '';
    display: inline-block;
}

.mainbar-list a i{
	display: block;
	margin-bottom: 5px;
	font-size: 32px;
}

.highlight{
	-webkit-animation: colorchange 10s infinite alternate;
}
    @-webkit-keyframes colorchange {
    	0%{ color: rgb(0, 0, 255);}
		3.33% { color: rgb(25, 0, 255); }
		6.66% { color: rgb(50, 0, 255); }
		9.99% { color: rgb(75, 0, 255); }
		13.33% { color: rgb(100, 0, 255); }
		16.66% { color: rgb(125, 0, 255); }
		19.99% { color: rgb(150, 0, 255); }
		23.33% { color: rgb(175, 0, 255); }
		26.66% { color: rgb(200, 0, 255); }
		29.99% { color: rgb(225, 0, 255); }
		33.33% { color: rgb(255, 0, 255); }
		36.66% { color: rgb(255, 25, 0); }
		39.99% { color: rgb(255, 50, 0); }
		43.33% { color: rgb(255, 75, 0); }
		46.66% { color: rgb(255, 100, 0); }
		49.99% { color: rgb(255, 125, 0); }
		53.33% { color: rgb(255, 150, 0); }
		56.66% { color: rgb(255, 175, 0); }
		59.99% { color: rgb(255, 200, 0); }
		63.33% { color: rgb(255, 225, 0); }
		66.66% { color: rgb(255, 255, 0); }
		69.99% { color: rgb(0, 255, 25); }
		73.33% { color: rgb(0, 255, 50); }
		76.66% { color: rgb(0, 255, 75); }
		79.99% { color: rgb(0, 255, 100); }
		83.33% { color: rgb(0, 255, 125); }
		86.66% { color: rgb(0, 255, 150); }
		89.99% { color: rgb(0, 255, 175); }
		93.33% { color: rgb(0, 255, 200); }
		96.66% { color: rgb(0, 255, 225); }
		100% { color: rgb(0, 255, 255); }
	}

/* mycontent */

.mycontent{
	position: fixed; z-index: 1001;
	top: 170px; left: 50%;
	transform: translateX(-50%) !important;
	width: 800px; height: 500px;
	background-color: rgba(255, 255, 255, 0.8); border-radius: 10px;
	overflow: hidden;
}

.songstable{
	width: 100%; 
}

.songstable thead {
	width: 100%;
}

.songstable tbody {
	width: 100%; height: 500px;
	
}

.songstable thead tr{
	width: 99%;
}

 .songstable tr{
 	width: 100%;
 }

.songstable thead, .songstable tbody, .songstable tr, .songstable td, .songstable th{
	display: inline-block;
}

.songstable thead{
	background: #d91f2d;
	color: #fff;
}

.songstable tbody td, .songstable thead > tr> th{
	float: left;
	border-bottom-width: 0;
}

.songstable>tbody>tr>td, .songstable>tbody>tr>th, .songstable>tfoot>tr>td, .songstable>tfoot>tr>th, .songstable>thead>tr>td, .songstable>thead>tr>th{
	padding: 8px;
	height: 50px;
	text-align: center;
	line-height: 32px;
}

.odd {
	background: #fff;
	color: #000;
}

.even {
	background: #efefef;
	color: #000;
}

.songstable_scrollbar::-webkit-scrollbar-track{
	background-color: #444;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
}

.songstable_scrollbar::-webkit-scrollbar{
	width: 1%; min-width: 5px;
	background-color: #F5F5F5;
}

.songstable_scrollbar::-webkit-scrollbar-thumb{
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
	border-radius: 10px;
}

.getsignature, .uploadnewsong{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	padding: 30px 15px 30px 15px;
	background: #fff; border-radius: 5px;
}

.getsignature *, .uploadnewsong *{ margin:2.5px; }

.getsignature label, .getsignature button,
.uploadnewsong label, .uploadnewsong button{ padding:5px 10px; }

.getsignature button, .uploadnewsong button{ float:right; }

#upfile-file-name, #upfile-file-name-1{
	border:2px dotted #ccc;
	font-weight: 300;
}

.reponse-success{
	width: 100%;
	margin-top: 15px;
	font-size: 24px; color: #FF0066; text-align: center;
	font-weight:bold;
}

.reponse-failure{
	width: 100%;
	margin-top: 15px;
	font-size: 24px; color: #0F0; text-align: center;
	font-weight:bold;
}

#upfile-song{
	width: 300px;
	margin-bottom: 15px;
	border: none; border-bottom: solid 1px #ccc;
	font-size: 16px;
}

#upfile-singer{
	float: right;
	width: 300px;
	margin-bottom: 15px;
	border: none; border-bottom: solid 1px #ccc;
	font-size: 16px;
}

/* music player bar */

.sm2-bar-ui {
	z-index: 1002 !important;
 	font-size: 18px;
}

.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
 	background-color: rgba(10, 130, 157, 0.5);
}

.sm2-bar-ui .sm2-inline-texture {
 	background: transparent;
}

/* social bar */

.social-bar {
	position: fixed; z-index: 1002;
	left: 5px; top: 40%;
	transform: translateY(-50%);
}

.social-bar a, .social-bar span{
	position: relative;
	width: 48px; height: 48px; 
	margin-top: 5px; margin-bottom: 5px; padding: 0px;
	outline: none;
	border: none; border-radius: 5px;
	font-size: 24px; color: #fff;
	display: block;
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
}

.social-bar a .fa, .social-bar span .fa{
	position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) !important;
}

.social-bar a:hover, .social-bar a:focus, .social-bar a:active, .social-bar span:hover, .social-bar span:focus, .social-bar span:active{
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.social-bar a:active, .social-bar span:active{
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	-o-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.social-bar-facebook{ background: #3e5b98; }
/*CSS LOGIN FORM*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

label {
padding-top:5px;
color: #aaa; 
font-weight: bold;
}
